<body class="w3-theme-l5">
<!-- Page Container -->
<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">
  <!-- The Grid -->
  <div class="w3-row">
    <!-- Left Column -->
    <div class="w3-col m3">
      <!-- Profile -->
      <div class="w3-card w3-round w3-white">
        <div class="w3-container">
          <h4 class="w3-center">My Profile</h4>
          <p class="w3-center"><img src="/w3images/avatar3.png" class="w3-circle" style="height:106px;width:106px"
                                    alt="Avatar"></p>
          <hr>
          <p><i class="fa fa-pencil fa-fw w3-margin-right w3-text-theme"></i> Designer, UI</p>
          <p><i class="fa fa-home fa-fw w3-margin-right w3-text-theme"></i> London, UK</p>
          <p><i class="fa fa-birthday-cake fa-fw w3-margin-right w3-text-theme"></i> April 1, 1988</p>
        </div>
      </div>
      <br>

      <!-- Accordion -->
      <div class="w3-card w3-round">
        <div class="w3-white">
          <button onclick="myFunction('Demo1')" class="w3-button w3-block w3-theme-l1 w3-left-align">
            <i class="fa fa-circle-o-notch fa-fw w3-margin-right"></i> My Groups
          </button>
          <a href="/blog/postCategory" class="w3-button w3-block w3-theme-l1 w3-left-align">
            <i class="fa fa-circle-o-notch fa-fw w3-margin-right"></i> Category</a>
          <a href="/blog/menuPost" class="w3-button w3-block w3-theme-l1 w3-left-align">
            <i class="fa fa-circle-o-notch fa-fw w3-margin-right"></i> Post</a>

          <div id="Demo1" class="w3-hide w3-container">
            <p>Some text..</p>
          </div>
          <button onclick="myFunction('Demo2')" class="w3-button w3-block w3-theme-l1 w3-left-align">
            <i class="fa fa-calendar-check-o fa-fw w3-margin-right"></i> My Events
          </button>
          <div id="Demo2" class="w3-hide w3-container">
            <p>Some other text..</p>
          </div>
          <button onclick="myFunction('Demo3')" class="w3-button w3-block w3-theme-l1 w3-left-align">
            <i class="fa fa-users fa-fw w3-margin-right"></i> My Photos
          </button>
          <div id="Demo3" class="w3-hide w3-container">
            <div class="w3-row-padding">
              <br>
              <div class="w3-half">
                <img src="/w3images/lights.jpg" style="width:100%" class="w3-margin-bottom">
              </div>
              <div class="w3-half">
                <img src="/w3images/nature.jpg" style="width:100%" class="w3-margin-bottom">
              </div>
              <div class="w3-half">
                <img src="/w3images/mountains.jpg" style="width:100%" class="w3-margin-bottom">
              </div>
              <div class="w3-half">
                <img src="/w3images/forest.jpg" style="width:100%" class="w3-margin-bottom">
              </div>
              <div class="w3-half">
                <img src="/w3images/nature.jpg" style="width:100%" class="w3-margin-bottom">
              </div>
              <div class="w3-half">
                <img src="/w3images/snow.jpg" style="width:100%" class="w3-margin-bottom">
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>

      <!-- Interests -->
      <div class="w3-card w3-round w3-white w3-hide-small">
        <div class="w3-container">
          <p>Interests</p>
          <p>
            <span class="w3-tag w3-small w3-theme-d5">News</span>
            <span class="w3-tag w3-small w3-theme-d4">W3Schools</span>
            <span class="w3-tag w3-small w3-theme-d3">Labels</span>
            <span class="w3-tag w3-small w3-theme-d2">Games</span>
            <span class="w3-tag w3-small w3-theme-d1">Friends</span>
            <span class="w3-tag w3-small w3-theme">Games</span>
            <span class="w3-tag w3-small w3-theme-l1">Friends</span>
            <span class="w3-tag w3-small w3-theme-l2">Food</span>
            <span class="w3-tag w3-small w3-theme-l3">Design</span>
            <span class="w3-tag w3-small w3-theme-l4">Art</span>
            <span class="w3-tag w3-small w3-theme-l5">Photos</span>
          </p>
        </div>
      </div>
      <br>

      <!-- Alert Box -->
      <div
        class="w3-container w3-display-container w3-round w3-theme-l4 w3-border w3-theme-border w3-margin-bottom w3-hide-small">
        <span onclick="this.parentElement.style.display='none'" class="w3-button w3-theme-l3 w3-display-topright">
          <i class="fa fa-remove"></i>
        </span>
        <p><strong>Hey!</strong></p>
        <p>People are looking at your profile. Find out who.</p>
      </div>

      <!-- End Left Column -->
    </div>

    <!-- Middle Column -->
    <div class="w3-col m9">

      <div class="w3-row-padding">

        <div class="w3-col m12">
          <form [formGroup]="postFrom" (ngSubmit)="submit()" method="post" class="w3-card w3-round w3-white">
              <div class="w3-container w3-padding">
                <h6 class="w3-opacity">Content</h6>
                <input contenteditable="true" class="w3-border w3-padding" formControlName="content" placeholder="content">
                <h6 class="w3-opacity">Description</h6>
                <input contenteditable="true" class="w3-border w3-padding" formControlName="description" placeholder="description">
                <h6 class="w3-opacity">Date</h6>
                <input  type="date" class="w3-border w3-padding" formControlName="created">
                <h6 class="w3-opacity">PostCategory</h6>
                <select formControlName="postCategory" class="form-control">
                  <option *ngFor="let category of categories" [ngValue]="category">{{category.name}}</option>
                </select>
                <h6 class="w3-opacity">See</h6>
                <select formControlName="see" class="form-control">
                  <option *ngFor="let see of sees" [ngValue]="see">{{see.name}}</option>
                </select>
              </div>
            <button class="w3-button w3-theme"><i class="fa fa-pencil"></i>  Submit</button>
          </form>

        </div>
      </div>
      <!-- End Middle Column -->
    </div>
  </div>
</div>
<br>
<script>
  // Accordion
  function myFunction(id) {
    var x = document.getElementById(id);
    if (x.className.indexOf("w3-show") == -1) {
      x.className += " w3-show";
      x.previousElementSibling.className += " w3-theme-d1";
    } else {
      x.className = x.className.replace("w3-show", "");
      x.previousElementSibling.className =
        x.previousElementSibling.className.replace(" w3-theme-d1", "");
    }
  }

  // Used to toggle the menu on smaller screens when clicking on the menu button
  function openNav() {
    var x = document.getElementById("navDemo");
    if (x.className.indexOf("w3-show") == -1) {
      x.className += " w3-show";
    } else {
      x.className = x.className.replace(" w3-show", "");
    }
  }
</script>
<style>
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: #dddddd;
  }
</style>
</body>


