<div class="container">
  <div class="row">
    <div class="col-12" style="margin-top: 20px">
      <mat-card style="margin: 50px 0;">
        <div class="change-avatar">
          <app-upload-avatar (giveURLtoCreate)="onUploadAvatar($event)"></app-upload-avatar>
          <form class="change-avatar"  (ngSubmit)="onSubmit()">
            <button mat-stroked-button color="accent" class="mat-button-toggle-group btn-outline-primary">Change Avatar
              <mat-icon color="accent" matSuffix>upload_file</mat-icon>
            </button>
          </form>
        </div>
      </mat-card>
    </div>
  </div>
</div>
