<body class="w3-theme-l5">
<!-- Page Container -->
<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">
  <!-- The Grid -->
  <div class="w3-row">
    <!-- Left Column -->
    <div class="w3-col m3">
      <!-- Profile -->
      <div class="w3-card w3-round w3-white">
        <div class="w3-container">
          <h4 class="w3-center">My Profile</h4>
          <p class="w3-center"><img src="/w3images/avatar3.png" class="w3-circle" style="height:106px;width:106px"
                                    alt="Avatar"></p>
          <hr>
          <p><i class="fa fa-pencil fa-fw w3-margin-right w3-text-theme"></i> Designer, UI</p>
          <p><i class="fa fa-home fa-fw w3-margin-right w3-text-theme"></i> London, UK</p>
          <p><i class="fa fa-birthday-cake fa-fw w3-margin-right w3-text-theme"></i> April 1, 1988</p>
        </div>
      </div>
      <br>

      <!-- Accordion -->
      <div class="w3-card w3-round">

        <div class="w3-button w3-block w3-theme-l1 w3-left-align">

          <div class="w3-dropdown-hover w3-hide-small w3-block">
            <button class="w3-button w3-padding-large w3-block w3-theme-l1 w3-left-align"><i
              class="fa fa-circle-o-notch fa-fw w3-margin-right"></i> Users
            </button>
            <div class="w3-dropdown-content w3-card-4 w3-bar-block" style="width:300px">
              <a href="/blog/editUsers" class="w3-bar-item w3-button">Edit Users</a>
              <a href="/blog/editAvatar" class="w3-bar-item w3-button">Change Avatar</a>
              <a href="#" class="w3-bar-item w3-button">Jane likes your post</a>
            </div>
          </div>

          <div class="w3-dropdown-hover w3-hide-small w3-block">
            <a href="/blog/postCategory" class="w3-button w3-padding-large w3-block w3-theme-l1 w3-left-align"><i
              class="fa fa-circle-o-notch fa-fw w3-margin-right"></i> Category</a>
          </div>
          <div class="w3-dropdown-hover w3-hide-small w3-block">
            <a href="/blog/menuPost" class="w3-button w3-padding-large w3-block w3-theme-l1 w3-left-align"><i
              class="fa fa-circle-o-notch fa-fw w3-margin-right"></i> Post</a>
          </div>
          <div class="w3-dropdown-hover w3-hide-small w3-block">
            <a href="/blog/menuSee" class="w3-button w3-padding-large w3-block w3-theme-l1 w3-left-align"><i
              class="fa fa-circle-o-notch fa-fw w3-margin-right"></i> See</a>
          </div>
          <div class="w3-dropdown-hover w3-hide-small w3-block">
            <a href="/blog/menuSee" class="w3-button w3-padding-large w3-block w3-theme-l1 w3-left-align"><i
              class="fa fa-circle-o-notch fa-fw w3-margin-right"></i> My Events</a>
          </div>
          <div class="w3-dropdown-hover w3-hide-small w3-block">
            <a href="/blog/menuSee" class="w3-button w3-padding-large w3-block w3-theme-l1 w3-left-align"><i
              class="fa fa-circle-o-notch fa-fw w3-margin-right"></i> My Photos</a>
          </div>
        </div>
      </div>
      <br>

      <!-- Interests -->
      <div class="w3-card w3-round w3-white w3-hide-small">
        <div class="w3-container">
          <p>Interests</p>
          <p>
            <span class="w3-tag w3-small w3-theme-d5">News</span>
            <span class="w3-tag w3-small w3-theme-d4">W3Schools</span>
            <span class="w3-tag w3-small w3-theme-d3">Labels</span>
            <span class="w3-tag w3-small w3-theme-d2">Games</span>
            <span class="w3-tag w3-small w3-theme-d1">Friends</span>
            <span class="w3-tag w3-small w3-theme">Games</span>
            <span class="w3-tag w3-small w3-theme-l1">Friends</span>
            <span class="w3-tag w3-small w3-theme-l2">Food</span>
            <span class="w3-tag w3-small w3-theme-l3">Design</span>
            <span class="w3-tag w3-small w3-theme-l4">Art</span>
            <span class="w3-tag w3-small w3-theme-l5">Photos</span>
          </p>
        </div>
      </div>
      <br>

      <!-- Alert Box -->
      <div
        class="w3-container w3-display-container w3-round w3-theme-l4 w3-border w3-theme-border w3-margin-bottom w3-hide-small">
        <span onclick="this.parentElement.style.display='none'" class="w3-button w3-theme-l3 w3-display-topright">
          <i class="fa fa-remove"></i>
        </span>
        <p><strong>Hey!</strong></p>
        <p>People are looking at your profile. Find out who.</p>
      </div>

      <!-- End Left Column -->
    </div>

    <!-- Middle Column -->
    <div class="w3-col m9">

      <div class="w3-row-padding">
        <div class="w3-col m12">
          <div class="w3-card w3-round w3-white">
            <div class="w3-container w3-padding">
              <h6 class="w3-opacity">Social Media template by w3.css</h6>
              <p contenteditable="true" class="w3-border w3-padding">Status: Feeling Blue</p>
            </div>
          </div>
        </div>
      </div>

      <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
        <h6 class="w3-opacity">Social Media template by w3.css</h6>
        <table>
          <tr>
            <th>Company</th>
            <th>Contact</th>
            <th>Country</th>
          </tr>
          <tr>
            <td>Alfreds Futterkiste</td>
            <td>Maria Anders</td>
            <td>Germany</td>
          </tr>
          <tr>
            <td>Centro comercial Moctezuma</td>
            <td>Francisco Chang</td>
            <td>Mexico</td>
          </tr>
          <tr>
            <td>Ernst Handel</td>
            <td>Roland Mendel</td>
            <td>Austria</td>
          </tr>
          <tr>
            <td>Island Trading</td>
            <td>Helen Bennett</td>
            <td>UK</td>
          </tr>
          <tr>
            <td>Laughing Bacchus Winecellars</td>
            <td>Yoshi Tannamuri</td>
            <td>Canada</td>
          </tr>
          <tr>
            <td>Magazzini Alimentari Riuniti</td>
            <td>Giovanni Rovelli</td>
            <td>Italy</td>
          </tr>
        </table>
      </div>
      <!-- End Middle Column -->
    </div>
  </div>

  <!-- End Page Container -->
</div>
<br>
<script>
  // Accordion
  function myFunction(id) {
    var x = document.getElementById(id);
    if (x.className.indexOf("w3-show") == -1) {
      x.className += " w3-show";
      x.previousElementSibling.className += " w3-theme-d1";
    } else {
      x.className = x.className.replace("w3-show", "");
      x.previousElementSibling.className =
        x.previousElementSibling.className.replace(" w3-theme-d1", "");
    }
  }

  // Used to toggle the menu on smaller screens when clicking on the menu button
  function openNav() {
    var x = document.getElementById("navDemo");
    if (x.className.indexOf("w3-show") == -1) {
      x.className += " w3-show";
    } else {
      x.className = x.className.replace(" w3-show", "");
    }
  }

</script>
<style>
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: #dddddd;
  }
</style>
</body>

